In [50]:
import pandas as pd

In [51]:

file_path = r"C:\Users\97252\Desktop\Chen_proj\data.csv"
#file_path = '' 
df = pd.read_csv(file_path)

df.head()

C:\Users\97252\AppData\Local\Temp\ipykernel_12392\3610699691.py:3: DtypeWarning: Columns (6,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,ID,Crash ID,crash_fatal_fl,case_id,Primary address,Secondary address,rpt_block_num,rpt_street_name,rpt_street_sfx,crash_speed_limit,...,Crash timestamp (US/Central),Crash timestamp,Is deleted,Is temporary record,Law enforcement fatality count,Reported street prefix,Estimated Maximum Comprehensive Cost,Estimated Total Comprehensive Cost,Location ID,Location group
0,848,13653671.0,False,140050130,1200 LAVACA,12TH ST,1200,LAVACA,NaN,35.0,...,01/05/2014 01:16:00 AM,01/05/2014 07:16:00 AM,False,False,0,NaN,20000,40000,C842E0B8AD,1.0
1,1148,13663307.0,False,140151612,6200 NOT REPORTED HWY,6300 JOE TANNER LN,6200,NOT REPORTED,HWY,45.0,...,01/15/2014 08:23:00 PM,01/16/2014 02:23:00 AM,False,False,0,NaN,20000,40000,NaN,NaN
2,1417,13668262.0,False,140141596,ANTHONY ST,HOLLY ST,NaN,ANTHONY,ST,30.0,...,01/14/2014 07:25:00 PM,01/15/2014 01:25:00 AM,False,False,0,NaN,20000,40000,NaN,NaN
3,1479,13668444.0,False,140181283,4420 NOT REPORTED RD,FINCHER RD RD,4420,NOT REPORTED,RD,-1.0,...,01/18/2014 05:29:00 PM,01/18/2014 11:29:00 PM,False,False,0,NaN,250000,330000,NaN,NaN
4,1670,13671393.0,False,140201033,10010 NOT REPORTED RD,MC NEIL DR,10010,NOT REPORTED,RD,55.0,...,01/20/2014 03:36:00 PM,01/20/2014 09:36:00 PM,False,False,0,NaN,20000,40000,NaN,NaN

In [52]:
df.shape

(224689, 47)

In [73]:
df = df.drop(columns=['ID','Crash ID'])

In [59]:
null_percentage = df.isnull().mean() * 100


columns_with_nulls = null_percentage[null_percentage > 50]
columns_with_nulls

Reported street prefix    100.0
dtype: float64

In [60]:
df['Reported street prefix']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
          ..
224684   NaN
224685   NaN
224686   NaN
224687   NaN
224688   NaN
Name: Reported street prefix, Length: 224689, dtype: float64

In [ ]:
df = df.drop(columns=['Reported street prefix'])

In [68]:
nan_per_row = df.isnull().sum(axis=1)
threshold = len(df.columns) * 0.18
rows_with_nan_above_50 = nan_per_row[nan_per_row > threshold]
print(f"מספר השורות עם יותר מ-18% NaN: {len(rows_with_nan_above_50)}")

מספר השורות עם יותר מ-18% NaN: 0

In [72]:
df[['case_id']].value_counts()

case_id
10-0631355         3
TX 2024-799354     3
10-0070608         3
132240424          3
130700836          3
                  ..
151951366          1
151951391          1
151951400          1
151951444          1
tg1243104211602    1
Name: count, Length: 221297, dtype: int64

In [74]:
df.columns

Index(['crash_fatal_fl', 'case_id', 'Primary address', 'Secondary address',
       'rpt_block_num', 'rpt_street_name', 'rpt_street_sfx',
       'crash_speed_limit', 'road_constr_zone_fl', 'latitude', 'longitude',
       'crash_sev_id', 'sus_serious_injry_cnt', 'nonincap_injry_cnt',
       'poss_injry_cnt', 'non_injry_cnt', 'unkn_injry_cnt', 'tot_injry_cnt',
       'death_cnt', 'units_involved', 'point', 'motor_vehicle_death_count',
       'motor_vehicle_serious_injury_count', 'bicycle_death_count',
       'bicycle_serious_injury_count', 'pedestrian_death_count',
       'pedestrian_serious_injury_count', 'motorcycle_death_count',
       'motorcycle_serious_injury_count', 'other_death_count',
       'other_serious_injury_count', 'onsys_fl', 'private_dr_fl',
       'micromobility_serious_injury_count', 'micromobility_death_count',
       'Crash timestamp (US/Central)', 'Crash timestamp', 'Is deleted',
       'Is temporary record', 'Law enforcement fatality count',
       'Estimated Maximum Comprehensive Cost',
       'Estimated Total Comprehensive Cost', 'Location ID', 'Location group'],
      dtype='object')

In [80]:
df['crash_fatal_fl'].value_counts()

crash_fatal_fl
False    223400
True       1289
Name: count, dtype: int64